#drop-area {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

#drop-area.is-dragover {
    background-color: #f0f0f0; /* ドラッグ中の背景色 */
    border: 2px dashed #000; /* ドラッグ中のボーダースタイル */
}

.liked img {
    filter: grayscale(0%);
}

